<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
        <h1>404</h1><p>Nothing here</p>
        <img src="https://media0.giphy.com/media/xFpT7lMV5Mkqq0E6YM/giphy.gif" alt="Nothing Here">
    </body>
</html>